{% extends 'sklep/products.html' %}
{% block content2 %}
{% load static %}
    <div class="box info-bar">
    <h1>{{category.name}}</h1>
    </div>
    {% if category_products %}
    <div class="row products">
        {% for product in category_products %}
            <div class="col-lg-4 col-md-6">
                <form action="/basket/" method="POST">
                    {% csrf_token %}
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front"><a href="/details/{{ product.pid }}/"><img src="{% static product.img_dir_list.0 %}" alt="" class="img-fluid"></a></div>
                            <div class="back"><a href="/details/{{ product.pid }}/"><img src="{% static product.img_dir_list.1 %}" alt="" class="img-fluid"></a></div>
                        </div>
                        </div><a href="/details/{{ product.pid }}/" class="invisible"><img src="/static/db_temp_img/3/1.jpg" alt="" class="img-fluid"></a>
                        <div class="text">
                        <h3><a href="/details/{{ product.pid }}/">{{ product.name }}</a></h3>
                        <p class="price"> 
                            <del></del>${{ product.price_gross }}
                        </p>
                            <input type="hidden" name="product_id" value={{product.pid}} />
                            <input type="hidden" name="client_id" value={{ request.session.client_id }} />
        <p type="submit" class="text-center buttons"><button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</button><a href="basket.html" class="btn btn-outline-primary"><i class="fa fa-heart"></i> Add to wishlist</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div class="box">
        <h2> Out of stock </h2>
    {% endif %}
    <!-- /.products-->
    </div>
{% endblock %}