{% extends 'sklep/base.html' %}
{% block content %}
{% load static %}
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Shopping cart</li>
                </ol>
              </nav>
            </div>
            <div id="basket" class="col-lg-9">
              <div class="box">
                    {% csrf_token %}
                  <h1>Shopping cart</h1>
                  <p class="text-muted">Obecnie masz {{no_products}} produktów w koszyku</p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th colspan="2">Product</th>
                          <th>Quantity</th>
                          <th>Unit price</th>
                          <th>Discount</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in data %}

                           <tr>
                          <td><a href="#"><img src="{% static item.image_source.0 %}" alt={{item.name }}></a></td>
                          <td><a href="#">{{ item.name }}</a></td>
                          <td>
                              {{ item.quantity }}
                          </td>
                          <td>${{ item.price_gross }}</td>
                          <td>$0.00</td>
                          <td>${{item.total}}</td>
                        </tr>
                      {% endfor %}

                      </tbody>
                      <tfoot>
                        <tr>
                          <th colspan="5">Total</th>
                          <th colspan="2">${{total_price}}</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.table-responsive-->
                  <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                    <div class="left"><a href="/basket" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Back to cart</a></div>
                    <div class="right">


                    <div>
                      <form method="get" action="/buy">
                        <button type="submit" class="btn btn-primary">Buy <i class="fa fa-chevron-right"></i></button>
                      </form>
                    </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- /.col-lg-9-->
            <div class="col-lg-3">
              <div id="order-summary" class="box">
                <div class="box-header">
                  <h3 class="mb-0">Order summary</h3>
                </div>
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Order subtotal</td>
                        <th>${{total_price}}</th>
                      </tr>
                      <tr>
                        <td>Shipping and handling</td>
                        <th>FREE</th>
                      </tr>
                      <tr>
                        <td>Tax</td>
                        <th>złodzieje</th>
                      </tr>
                      <tr class="total">
                        <td>Total</td>
                        <th>${{total_price}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.col-md-3-->
          </div>
        </div>
      </div>
{% endblock %}